<hr class="mt-2 mb-3"/>
<h2 class="display-4 text-center">Noticias candidatas</h2>
<hr class="mt-2 mb-3"/>
<div class="col-md-6" id="algorithm1">
    <h3 class="display-6 text-center">Algoritmo {{ algorithm1 }}</h3>
    {% for i, new in news_alg1 %}
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-350 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2"  >Ranking:  {{ i+1 }}</strong>
            <strong class="d-inline-block mb-2 {% if new['true_value'] %} text-success {% else %} text-danger {% endif %}"  >{{ new['category'] }}</strong>
            <h3 class="mb-0">{{ new['title'] }}</h3>
            <div class="mb-1 text-muted">Nov 11</div>
            <p class="mb-auto">{{ new['abstract'] }}</p>
            <a href="{{ url_for('new', url=new['url'], title=new['title']) }}" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img class="d-block m-auto" src="{{ new['image_url'] }}" alt="{{ new['title'] }}">
            </div>
        </div>
    {% endfor %}
</div>

<div class="col-md-6" id="algorithm2">
    <h3 class="display-6 text-center">Algoritmo {{ algorithm2 }}</h3>
    {% for i, new in news_alg2 %}
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-350 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2"  >Ranking:  {{ i+1 }}</strong>
            <strong class="d-inline-block mb-2 {% if new['true_value'] %} text-success {% else %} text-danger {% endif %}"  >{{ new['category'] }}</strong>
            <h3 class="mb-0">{{ new['title'] }}</h3>
            <div class="mb-1 text-muted">Nov 11</div>
            <p class="mb-auto">{{ new['abstract'] }}</p>
            <a href="{{ url_for('new', url=new['url'], title=new['title']) }}" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img class="d-block m-auto" src="{{ new['image_url'] }}" alt="{{ new['title'] }}">
            </div>
        </div>
    {% endfor %}
</div>